@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	/* font, colours, backgrounds */
	--background: #6260aa;
	--header-nav: #fff;
	--primary-a: #c1c1c1;
	--primary-b: #c2c2c2;
	--secondary-a: #b1b1b1;
	--secondary-b: #b2b2b2;
	--accent-1: #e87400;
}

header {
	margin: 1em 0;
}

.header-nav {
	background-color: var(--header-nav);
}
body {
	background-color: var(--background);
	color: var(--primary-a);
	font: normal normal 1em/1 'Roboto', arial, sans-serif;
}

p {
	margin: 1em 0;
}

.testimonial {
	color: var(--secondary-a);
	text-decoration: italic;
}
h1, h2, h3 {
	text-transform: uppercase;
}

a, footer {
	color: var(--accent-1);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.design-school-map {
	height: 600px;
	width: 600px;
}