@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	/* font, colours, backgrounds */
	--background: #313156;
	--secondary-background: #fff;
	--header-nav: #0a5093;
	--header-image-bg: #0a5093;
	--primary-a: #c1c1c1;
	--primary-b: #c2c2c2;
	--secondary-a: #b1b1b1;
	--secondary-b: #b2b2b2;
	--accent-1: #e87400;
	--accent-2: #fdc20b;
	--accent-3: #6260AA;
	--accent-4: #2AA9E0;
	--whiteblock: #fff;
	--whiteblock-text: #000;
}

header {
	margin: 1.5em 1em;
}

.header-image p{
	font-size: 0.8em;
}

.schoolofdesign-header {
	border: #fff 0.3em solid;
}
.header-image {
	background-color: var();

	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.button {
	color: white;
	padding: 1em 1em;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.5em;
}

.one {
	background-color: var(--accent-1); 
}

.two {
	background-color: var(--accent-2); 
}

.three {
	background-color: var(--accent-3);
}

.program-description {
	background-color: var(--accent-4);
	color: var(--whiteblock-text);
	padding: 0.1em 0.7em;
	line-height: 1.2;
}
body {
	background-color: var(--background);
	color: var(--primary-a);
	font: normal normal 1em/1 'Roboto', arial, sans-serif;
	padding: 1em 1em;
}

.interaction {
	background-color: var(--accent-1);
	padding: 0.1em 0.7em; 
	color: var(--whiteblock-text);
}

.design {
	background-color: var(--accent-2);
	padding: 0.1em 0.7em; 
	color: var(--whiteblock-text);
}

.development {
	background-color: var(--accent-3);
	padding: 0.1em 0.7em; 
	color: var(--whiteblock-text);
}

p {
	margin: 1em 0;
}

.testimonial {
	color: var(--secondary-a);
	text-decoration: italic;
}

h1, h2, h3 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #fff;
}

footer {
	color: var(--accent-1);
	padding: 1.5em 1.5em;
}

.schoolofdesign-footer {
	border: #fff 0.2em solid;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.design-school-map {
	height: 600px;
	width: 600px;
}